<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New person</title>
</head>
<body>

<form th:method="POST" th:action="@{/people}" th:object="${person}">
    <label for="name">Введите имя: </label>
    <input type="text" th:field="*{fullName}" id="name"/>
    <div style="color:red" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}">fullName Error</div>

    <br/>

    <label for="age">Введите год выхода: </label>
    <input type="text" th:field="*{yearOfBirth}" id="age"/>
    <div style="color:red" th:if="${#fields.hasErrors('yearOfBirth')}" th:errors="*{yearOfBirth}">yearOfBirth Error</div>
    <br/>
    <input type="submit" value="Создать!"/>
</form>

</body>
</html>